.App {
  text-align: center;
  background-color: #724B9F;
}

.title {
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-family: Comic sans MS, Courier, serif;
}

.Category {
  font-family: 'MS Sans Serif', Geneva, sans-serif;
}

button {
  position: relative;
       width:200px;
       color:#FFF;
       display:block;
       text-decoration:none;
       margin:0 auto;
       border-radius:5px;
       border:solid 1px #D94E3B;
       background:#cb3b27;
       text-align:center;
       padding:20px 30px;
       -webkit-transition: all 0.1s;
       -moz-transition: all 0.1s;
       transition: all 0.1s;
       -webkit-box-shadow: 0px 9px 0px #84261a;
       -moz-box-shadow: 0px 9px 0px #84261a;
       box-shadow: 0px 9px 0px #84261a;
       margin-bottom: 7vh;
       padding-top: 2vh;
       top: 3vh;
}

img {
  width: 30vh;
 height: 35vh;
 border: solid 2px;
 text-shadow: white 0px 0px 2px;
 font-size: 16px;
 background-size: 150px;
  border: 4mm ridge rgb(170, 50, 20, .9);
}